#badgesDiv{
  width: 40%;
  margin: 80px auto;
  border-radius: 10px;
  padding: 30px;
  border-left: 5px;
}
  #body{
  font-family:sans-serif, helvetica;
  background: linear-gradient(#E9CFEC 0%, #7575CF 100%);
  background-attachment: fixed;
}
