button{
  font-weight: 700;
  border:none;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 4px;
  background: #D291BC;
}
  #body{
  font-family:sans-serif, helvetica;
  background: linear-gradient(#E9CFEC 0%, #7575CF 100%);
  background-attachment: fixed;
}
.propic {
  text-align: center;
  margin: 20px 0;
  }
  #propic{
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
  }
.infos {
  text-align: center;
}

#bell{
  position: absolute;
  padding: 5px;
  top: auto;
  /*62px*/
  right: 92px;
}

#notifyMeButton{
    /*17px*/
  top: 10px;
  position:absolute;
  right: 20px;
}



#badgesButton{
  position:absolute;
  left: 20px;
}

#badgesBtn{
  width:35px;
  height:35px;

}

#posts{
  padding-top: 10px;
   width: auto;
   height: auto;
 }

#contactMeButton{
    padding:10px;
}

 .dropbtn {
   font-weight: 700;
   border:none;
   color: white;
   text-decoration: none;
   padding: .8em 1em calc(.8em + 3px);
   border-radius: 4px;
 }

 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
 }

 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   z-index: 1;
 }

 /* Links inside the dropdown */
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #f1f1f1}

 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {
   display: block;
 }

 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {
   background-color: #D291BC;
 }
 .img{
   margin:2px;
   border-radius: 8px;
 }

/* TOGGLE BUTTON */
.cm-toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}

/* To create surface of toggle button */
.cm-toggle:after {
	content: '';
	width: 60px;
	height: 24px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
}

/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
	content: '';
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Shift the handle to left on check event */
.cm-toggle:checked:before {
	left: 32px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
	background: #16a085;
}

/* Transition for smoothness */
.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}
