button{
        font-weight: 700;
        border:none;
        color: white;
        text-decoration: none;
        padding: .8em 1em calc(.8em + 3px);
        border-radius: 4px;
        background: #D291BC;
      }

      img{
        border-radius: 8px;
      }

      #bottomBar{
        position:absolute;
        left:300px;
        align:bottom;
      }

      #searchImg{

      }

      .bottom{
        position: absolute;
        bottom: 0px;
      }
      .bottomButtons{
        position:absolute;
        align:bottom;
      }

      #buttonProfile{
        right:30px;
      }

      #buttonNot{
        right: 125px;
      }

      #buttonAdd{
        right:230px;
      }

       #home{
        position:absolute;
        left: 125px;
        align:bottom;
      }

      #posts{
         width: auto;
         height:auto;
       }

       #body{
         font-family:sans-serif, helvetica;
         background: linear-gradient(#E9CFEC 0%, #7575CF 100%);
         background-attachment: fixed;
       }

       #inputSearch{
         height: 25px;
         border-width:thin;
         border-radius: 4px;
       }
