button{
        font-weight: 700;
        border:none;
        color: white;
        text-decoration: none;
        padding: .8em 1em calc(.8em + 3px);
        border-radius: 4px;
        background: #D291BC;
      }
      img{
        border-radius: 8px;
      }

      #bottomBar{
        position:absolute;
        left:200px;
        align:bottom;
      }

      .bottom{
        position: absolute;
        bottom: 0px;
      }
      .bottomButtons{
        position:absolute;
        align:bottom;
      }

      #buttonProfile{
        right:0px;
      }

      #buttonNot{
        right: 50px;
      }

      #buttonAdd{
        right:100px;
      }

       #home{
        position:absolute;
        left: 20px;
        align:bottom;
      }
      #posts{
         width: auto;
         height: 530px;
         margin-bottom: 10px;
         padding: 10px;
         background-color: rgba(238, 238, 238, 0.7);
         border: 1px solid #ccc;
         overflow: scroll;
        overflow-x: hidden;
       }
       #body{
         font-family:sans-serif, helvetica;
         background: linear-gradient(#E9CFEC 0%, #7575CF 100%);
         background-attachment: fixed;
         overflow-y: hidden;
       }

       #inputSearch{
         height: 25px;
         border-width:thin;
         border-radius: 4px;

       }
