#body{
font-family:sans-serif, helvetica;
background: linear-gradient(#E9CFEC, #7575CF);
background-attachment: fixed;
}

#loginDiv{
    background-color: #fff;
    width: 40%;
    margin: 80px auto;
    border-radius: 10px;
    padding: 30px;
    border-left: 5px solid #D291BC;
    box-shadow: 0px 0px 0px 0px #3f51b5;
}
button{
font-weight: 700;
border:none;
color: white;
text-decoration: none;
padding: .8em 1em calc(.8em + 3px);
border-radius: 4px;
background: #D291BC;
}
#buttonLogin, #inputRegister {
font-weight: 700;
border:none;
color: white;
text-decoration: none;
padding: .8em 1em calc(.8em + 3px);
border-radius: 4px;
background: #D291BC;
}

.inputForm{
width: auto;
height: 25px;
border-width:thin;
border-radius: 4px;
}
