#body{
  font-family:sans-serif, helvetica;
  background: linear-gradient(#E9CFEC 0%, #7575CF 100%);
  background-attachment: fixed;
}

#formDiv{
  width: 40%;
  margin: 80px auto;
  border-radius: 10px;
  padding: 30px;
}

.inputChangeEmail{
  width: auto;
  height: 25px;
  border-width:thin;
  border-radius: 4px;
  margin: 10px
}

#buttonDiv{
  margin-top: 10px;
}

button{
  font-weight: 700;
  border:none;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 4px;
  background: #D291BC;
}

nav {
        position: fixed;
        top: 0; left: 0; bottom: 0;
        width: 288px;
        margin: 0;
        padding: 0;
        background: #E6E6E6;
        color: #6C7482;
}

nav a { text-decoration: none; color: #6C7482; }

#logo { padding-left: 20px; }

nav ul {
        width: 288px;
        height: 100%;
        padding: 0;
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        list-style-type: none;
}

nav ul li {
        color: #000;
        width: 258px;
        height: 35px;
        margin: 0;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 0;
        padding-bottom: 0;
        left: 0;
        right: 0;
        position: relative;
}

nav ul li:not(.active) {
        background: #E6E6E6;
        transition: left 0.5s, background 1s, color 1s;
        -webkit-transition: left 0.5s, background 1s, color 1s;
        -moz-transition: left 0.5s, background 1s, color 1s;
        border-left: 10px solid #D291BC;
        padding-top: 10px;
        left: -10px;
}

nav ul li.active {
        width: 258px !important;
        border-top: 0!important;
        border-left: 10px solid #D291BC;
        background: #3B383B;
        color: #FFF;
}

nav ul a:hover {
        color: #FFF;
}

nav ul a:hover > li:not(.active) {
        background: #3B383B;
        left: 0px;
        color: #FFF;
}
