<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.artform">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-configuration android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".AFGlobal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArtForm"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ExternalProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity android:name=".SettingsAccountActivity" android:exported="false"/>
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".CommissionActivity"
            android:exported="false" />
        <activity
            android:name=".ContentPubActivity"
            android:exported="false"/>
        <activity
            android:name=".ImagePostSearchActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".VideoPostSearchActivity"
            android:exported="false" />
        <activity
            android:name=".UserSearchActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".TopicSelectActivity"
            android:exported="false">

        </activity>
        <activity android:name=".HomeFragment" android:exported="false"
            tools:ignore="Instantiatable" />
    </application>

</manifest>