#posts{
  padding-top: 60px;
   width: auto;
   height: auto;
 }

 #body{
   font-family:sans-serif, helvetica;
   color: #000018;
   background: linear-gradient(#E9CFEC 0%, #7575CF 100%);
   background-attachment: fixed;
 }
/*
button{
font-weight: 700;
border:none;
color: white;
text-decoration: none;
padding: .8em 1em calc(.8em + 3px);
border-radius: 4px;
background: #D291BC;
}
*/
.categoryButtons {
  position:absolute;
  align:top;
  left: 40%
}

#divTopic{
    position:absolute;
    left: 40%;
    top: 12%;
  }

#imageCategory{
  left: 35%
}

#videoCategory{
  right: 50%
}

#userCategory{
  right: 40%;
}

input[type=radio] {
  display:none;
  margin:10px;
}

input[type=radio] + label {
  display:inline-block;
  font-weight: 700;
  border:none;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 4px;
  background: #D291BC;
}

input[type=radio]:checked + label {
  background-image: none;
  background-color: #853a6c;
}
